
<h2>Podsumowanie zamowienia</h2>

<% if @order == nil %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<p>Nie dokonano zamowienia</p>
		<p><a class="btn btn-primary btn-lg" href="/zamow" role="button">Rozpocznij zakupy »</a></p>
	</div>
</div>

<% else %>

<% if @order.errors.any? %>
<div class="alert alert-danger"><%= @order.errors.full_messages %></div>
	<% if @order.client.errors.any? %>
	<div class="alert alert-danger"><%= @order.client.errors.full_messages %></div>
		<% if @order.client.address.errors.any? %>
		<div class="alert alert-danger"><%= @order.client.address.errors.full_messages %></div>
		<% end %>
	<% end %>
<% end %>


<h3>Osoba kontatkowa</h3>
<div class="row">
<div class="col-md-2">Imie: </div>
<div class="col-md-5"><%= @order.client.firstname %></div>
</div>
<div class="row">
<div class="col-md-2">Nazwisko: </div>
<div class="col-md-5"><%= @order.client.lastname %></div>
</div>
<div class="row">
<div class="col-md-2">Telefon: </div>
<div class="col-md-5"><%= @order.client.phone %></div>
</div>

<h3>Adres dostawy zamowienia</h3>
<div class="row">
<div class="col-md-2">Ulica: </div>
<div class="col-md-5">
<%= @order.client.address.street %>
<%= @order.client.address.building %>
<% if @order.client.address.flat != nil %>
/ <%= @order.client.address.flat %>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-2">Miejscowosc: </div>
<div class="col-md-5"><%= @order.client.address.postalcode %> <%= @order.client.address.city %></div>
</div>

<h3>Zawartosc zamowienia</h3>

<div class="table-responsive">
<table class="table table-bordered">
<caption>Lista zamowionych sukni.</caption>
<thead>
<tr>
	<th class="text-right">#</th>
	<th class="text-center">Fason</th>
	<th class="text-center">Material</th>
	<th class="text-center">Cena</th>
	</tr>
</thead>
<tbody>
<% i = 1 %>
<% total = 0 %>
<% @order.dresses.each do |jakas_suknia| %>
	<tr>
	<th class="text-right" scope="row"><%= i %></th>
	<td><%= jakas_suknia.style.name %></td>
	<td><%= jakas_suknia.material.name %></td>
	<td class="text-right"><%= jakas_suknia.cost %> zl</td>
	</tr>
	<% i = i + 1 %>
	<% total = total + jakas_suknia.cost %>
<% end %>
	<tr>
	<th scope="row">Suma</th>
	<td></td>
	<td></td>
	<td class="text-right"><%= total %> zl</td>
	</tr>
</tbody>
</table>
</div>

<a class="btn btn-info" href="/zamow">Nowe zamowienie</a>

<% end %>

