
<div>
	<h2>Katalog dostepnych fasonow i materialow</h2>
	<%= form_for @dress, url: "/zamow", html: { method: "post"} do |f| %>
		<h3>Dostepne fasony</h3>

		<div class="form-group">
			<div class="row">
				<% @wszystkie_style.each do |jakis_styl| %>
					<div class="col-md-3">
						<%= f.radio_button(:style_id, jakis_styl.id) %>
						<%= f.label("style_id_#{jakis_styl.id}", jakis_styl.name) do %>
							<img alt="<%= jakis_styl.name %>" class="img-responsive img-thumbnail" src="/kroje/<%= jakis_styl.image %>"  />
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<h3>Dostepne materiały</h3>
		<div class="form-group">
			<div class="row">
				<% @wszystkie_materialy.each do |jakis_material| %>
					<div class="col-md-3">
						<%= f.radio_button(:material_id, jakis_material.id) %>
						<%= f.label("material_id_#{jakis_material.id}", jakis_material.name) %>
					</div>
				<% end %>
			</div>
		</div>

		<%= submit_tag("Dodaj do koszyka", class: "btn btn-success") %>
	<% end %>
</div>
